body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

header {
    background-color: #020202;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.logo {
    width: 90px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.tagline {
    font-size: 0.9rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    color: rgb(50, 156, 255);
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 1rem;
}

.sidebar {
    flex: 1;
    background-color: hsl(0, 0%, 100%);
     color: rgb(50, 156, 255);
    padding: 1rem;
    min-width: 200px;
}

.sidebar h2 {
    font-size: 1.2rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5rem 0;
}

.main-content {
    flex: 3;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}


.gallery-img {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 1rem;

}
.footer-logo {
    width: 90px;
    height: auto; 
}

footer {
    background-color: #000000;
    color: white;
    padding: 1rem;
    text-align: center;
}